<template>
  <div>
    <div class="p-1 mb-2">
      <h6 class="d-inline align-middle mr-2 agent-id-label">
        {{ agent.agentID }}
      </h6>
      <div class="dropdown d-inline">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="24"
          class="
            bi bi-three-dots
            align-middle
            option-menu-button
            dropdown-toggle
          "
          viewBox="0 0 16 16"
          @click="showDropDownMenu = !showDropDownMenu"
        >
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
          />
        </svg>
        <div class="dropdown-menu p-0" :class="{ show: showDropDownMenu }">
          <a
            id="delete-agent-dropdown-item"
            class="dropdown-item"
            @click="$emit('deleteAgent', agent.agentID)"
            href="#"
            >Delete</a
          >
        </div>
      </div>
    </div>
    <div>
      <Key class="mt-2" :publicKey="verifyKey" :secretKey="signKey" />
      <Key class="mt-2" :publicKey="certifyKey" :secretKey="decertifyKey" />
    </div>
  </div>
</template>

<script>
import Key from "./Key.vue";

export default {
  data() {
    return {
      showDropDownMenu: false,
    };
  },
  computed: {
    verifyKey() {
      return {
        label: "Verify Key",
        data: this.agent.verifyKeyData,
      };
    },
    signKey() {
      return {
        label: "Sign Key",
        data: this.agent.signKeyData,
      };
    },
    certifyKey() {
      return {
        label: "Certify Key",
        data: this.agent.certifyKeyData,
      };
    },
    decertifyKey() {
      return {
        label: "Decertify Key",
        data: this.agent.decertifyKeyData,
      };
    },
  },
  props: ["agent"],
  emits: ["deleteAgent"],
  components: { Key },
};
</script>

<style scoped>
.option-menu-button {
  fill: rgb(107, 117, 125);
}
.option-menu-button:hover {
  fill: rgb(51, 59, 64);
  cursor: pointer;
}
.agent-id-label {
  cursor: default;
}
#delete-agent-dropdown-item:hover {
  background-color: red;
  color: white;
}
</style>
