<template>
  <ul class="nav nav-tabs">
    <li class="nav-item" @click="setKeyTab($event, 0)">
      <a
        class="nav-link small p-2"
        :class="publicKeyClass"
        href="#public-key"
        >{{ publicKey.label }}</a
      >
    </li>
    <li class="nav-item" @click="setKeyTab($event, 1)">
      <a
        class="nav-link small p-2"
        :class="secretKeyClass"
        href="#secret-key"
        >{{ secretKey.label }}</a
      >
    </li>
  </ul>
  <div class="tab-content text-wrap">
    <div id="public-key" class="tab-pane" :class="publicKeyClass">
      <div class="card mt-2 mb-3 key-data-card">
        <span class="base64-text p-2 text-muted">{{ publicKey.data }}</span>
      </div>
    </div>
    <div id="secret-key" class="tab-pane" :class="secretKeyClass">
      <div class="card mt-2 mb-3 key-data-card">
        <span class="base64-text p-2 text-muted">{{ secretKey.data }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: 0,
    };
  },
  props: ["publicKey", "secretKey"],
  methods: {
    setKeyTab(event, n) {
      event.preventDefault();

      let data = [this.publicKey.data, this.secretKey.data][n];
      if (data) {
        this.active = n;
      }
    },
  },
  computed: {
    publicKeyClass() {
      return {
        active: this.active == 0,
        disabled: this.publicKey.data == null,
      };
    },
    secretKeyClass() {
      return {
        active: this.active == 1,
        disabled: this.secretKey.data == null,
      };
    },
  },
};
</script>

<style scoped>
.base64-text {
  word-wrap: break-word;
  font-family: monospace;
  font-size: 0.75em;
}
.nav-link.disabled {
  cursor: default;
  color: rgb(180, 180, 180);
}
.key-data-card {
  cursor: text;
}
</style>
