<template>
  <div class="container">
    <div class="card border-0">
      <h4 class="card-title mt-2">Keyring</h4>
      <p class="small">Remember to never share your secret keys with anyone.</p>
      <div class="card-body p-0">
        <ul class="list-group">
          <li
            class="list-group-item border-0 p-0"
            v-for="agent in agents"
            :key="agent.agentID"
          >
            <AgentKeysMenuItem :agent="agent" @deleteAgent="deleteAgent" />
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center flex-column">
        <div class="btn-group mb-2" role="group">
          <div class="btn btn-primary mr-1" @click="generateAgent">
            Generate
          </div>
          <div class="btn btn-primary">Import</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AgentKeysMenuItem from "./AgentKeysMenuItem.vue";

async function generateAgent(includeSecretKeys) {
  const ppc = await import("../../public/pkg/ppc_outlook_wasm_bg");
  const letters = [
    "alpha",
    "beta",
    "gamma",
    "delta",
    "epsilon",
    "zeta",
    "eta",
    "theta",
    "iota",
    "kappa",
    "lambda",
    "mu",
    "nu",
    "xi",
    "omicron",
    "pi",
    "rho",
    "sigma",
    "tau",
    "upsilon",
    "phi",
    "chi",
    "psi",
    "omega",
  ];
  const providers = ["outlook.com", "gmail.com", "chalmers.se"];

  const letter = letters[Math.floor(Math.random() * letters.length)];
  const provider = providers[Math.floor(Math.random() * providers.length)];
  const mail = letter + "@" + provider;

  let _keys = ppc.Base64Keys.generate();
  if (!includeSecretKeys) {
    _keys.makePublic();
  }

  return {
    agentID: mail,
    verifyKeyData: _keys.getVerifyKey(),
    certifyKeyData: _keys.getCertifyKey(),
    signKeyData: _keys.getSignKey(),
    decertifyKeyData: _keys.getDecertifyKey(),
  };
}

export default {
  components: { AgentKeysMenuItem },
  data() {
    return {
      agents: [],
    };
  },
  methods: {
    deleteAgent(agentID) {
      this.agents = this.agents.filter((agent) => agent.agentID != agentID);
    },
    generateAgent() {
      generateAgent(this.agents.length % 2 == 0).then((agent) => {
        this.agents.push(agent);
      });
    },
  },
};
</script>

<style scoped></style>
